<section id="project">
<div class="container">
  <div class="projWrapper1">
    <div id="pg">
    <h1>Pictionary</h1>
      <h2>A basic pictionary game created in order to learn how to combine multi-user functionallity and HTML5 canvas</h2>
    <p>I'm allowing clients to interact with each other using Socket.io to send information back and forth from the server. A simple text file is loaded and used to randomly get objects to draw.<br><br>
    I'm planning to add more functionality, such as colors and stroke-size to this game once I have some spare time!<br></p>
    </div>
    <div id="pimg">
      <h1><a href="https://github.com/thereseh/Syncing-Data-II" target="_blank">GitHub</a> / <a href="https://dashboard.heroku.com/apps/morning-headland-25657" target="_blank">Project</a></h1>
       <img src="./assets/images/picionary.png" class="projImage" alt="Self">
      <h2>JavaScrip / CSS / HTML / NodeJS / Socket.io</h2>
    </div>
  </div>
</div>
</section>
