<section id="project">
<div class="container">
  <div class="projWrapper1">
    <div id="pg">
    <h1>Portfolio</h1>
      <h2>Designed using Angular2</h2>
    <p>When it was time to develop my portfolio, I decided to embrace the opporturnity to learn a new framework. After some consideration, I went for Angular2 as it's said to be a good framework for a small scale application that doesn't require a lot of tools. I found it really easy to set up the core architecture, and the Routing component allowed for easy navigation between modules. However, Angular2 seem to still be in development, which makes it hard to find information that is up to date about code and how to use components.<br><br>In addition to Angular2, Bootstrap is used to help with the design. For example, the project page is using the carousel component to wrap the project images. It allowed me to easily format the images and put information text over them.<br><br>
     I also wrote a NodeJS express server, which was necessary to be able to build and deploy the project on Heroku.</p>
    </div>
    <div id="pimg">
      <h1><a href="https://github.com/thereseh/portfolio" target="_blank">GitHub</a></h1>
      <img src="./assets/images/portfolio.png" class="projImage" alt="Self">
    <h2>Angular2/NodeJS/Bootstrap/HTML/CSS</h2>
    </div>
  </div>
</div>
</section>
