<section id="project">
<div class="container">
  <div class="projWrapper1">
    <div id="pg">
    <h1>Newton</h1>
      <h2>A space adventure game created in Unity.</h2>
    <p>I worked on this project with two other classmates.<br>
    It's a 3D environment with the illusion of being in 2D space, which adds to the surreal experience of interdimensional space travel.
    <br><br>
      The premise of the game is that you are lost in space, low on fuel and need to find your way back home by traveling through worm holes which you reach using gravitional pull from tiny black holes that you create.
      <br><br>
      Each level has obstacles, such as asteroids that will also be pulled towards your black hole, so you have to plan ahead in order to reach the end without taking too much damage.</p>
    </div>
    <div id="pimg">
      <h1><a href="https://github.com/thereseh/gravity" target="_blank">GitHub</a> / <a href="https://thereseh.itch.io/newton" target="_blank">Project</a></h1>
       <img src="./assets/images/build2.png" class="projImage" alt="Self">
      <h2>C# / Unity</h2>
    </div>
  </div>
</div>
</section>