<section id="about">
  <div class="container">
    <div id="selfInfo">
      <div id="info">
      <h1>About</h1>
      <p>My name is Therese Henriksson and I'm a fourth year Game Design and Development student from Sweden at Rochester Institute of Technology. I know what you are thinking (bork, bork) and yes, I love IKEA.<br>
      It took me a while to figure out what I wanted to study, it has been quite a journey, which is a story saved for another day. After 4 years at Santa Barbara City College in California, I finally found the Game Design Program at RIT which provides the perfect balance of code and creative opporturnity. I have not been coding for as long as many of the brilliant kids in my classes, but I'm a fast learner that loves challenges and what I do!<br>
      I'm graduating in May 2018, and I'm currently looking for a web/software development co-op: Summer, Fall, Spring, 10-year contract, full time position, my schedule is pretty flexible now when my cat has given me permission to apply for a second job.<br></p>
      <h1 style="text-align: right">Skills</h1>
      <h3>C# / JavaScript / CSS / HTML / C++ / Java / jQuery / Ajax / NodeJS / Angular2 / Bootstrap / Babel / Socket.io / MongoDB / Express / Redis / Unity / Photoshop / InDesign / Illustrator / Visual Studio / Brackets / Heroku / CircleCI / Git</h3>
    </div>
    </div>
      <div id="selfImage">
        <img src="./assets/images/photo.jpg" alt="Self">
      </div>
  </div>
</section>
