<section id="about">
  <div class="container">
    <div id="selfInfo">
      <div id="info">
      <h1>About</h1>
      <p>My name is Therese Henriksson and I'm a third year Game Design and Development student from Sweden at Rochester Institute of Technology. I know what you are thinking and yes, I love IKEA.<br>
      It was a long journey to figure out what I wanted to study. After 4 years at Santa Barbara City College in California, I finally found the Game Design Program at RIT which provides the perfect balance of code and creative opporturnity.<br>
      I'm graduating in May 2018, so I'm currently looking for a software/web development co-op: Summer, Fall, Spring, 10-year contract, full time position, my schedule is pretty flexible.<br></p>
      <h1 style="text-align: right">Skills</h1>
      <h3>C# / JavaScript / CSS / HTML / C++ / Java / jQuery / Ajax / NodeJS / Angular2 / Bootstrap / Babel / Socket.io / Unity / Photoshop / InDesign / Illustrator / Visual Studio / Brackets / Heroku / CircleCI / Git</h3>
    </div>
    </div>
      <div id="selfImage">
        <img src="./assets/images/photo.jpg" alt="Self">
      </div>
  </div>
</section>
