<section id="project">
<div class="container">
  <div class="projWrapper1">
    <div id="pg">
    <h1>Clark CSM</h1>
      <h2>A promotional website for Clark CSM, a graphic design company located in Rochester, NY.</h2>
    <p>At that time, a friend of mine was an intern for Clark, and she asked me to code a promotional website idea that she had. My friend designed the assets and I did my best to make her ideas a reality considering the short time frame.<br><br>
      I used canvas in order to create interactive elements on the page, such as the hover animations and the moving sprites. A script is used to make the spritesheets come alive, it was the best option as the animations required different speeds in order to look good.
    <br><br>
      I was also requested to set up a custom design submit form to send data to a google spritesheet. I didn't know much about Ajax back then, but managed to set up a Ajax post request to a google sheet.
    <br><br>
    I didn't know a lot about web development when I was asked to develop this site. It was a scary request but I decided to give it a shot. It's not one of my best work in terms of code, but it was my greatest learning experience. I had to tackle a lot of challenges and I made it work. I'm no longer intemidated to jump into somehing new, I know that I can handle it.</p>
    </div>
    <div id="pimg">
      <h1><a href="http://clarkcsmfavorites.com/" target="_blank">clarkcsmfavorites.com</a></h1>
      <img src="./assets/images/clarkCSM.png" class="projImage" alt="Self">
      <h2>JavaScrip / CSS / HTML / jQuery / Ajax</h2>
    </div>
  </div>
</div>
</section>

