<section id="project">
<div class="container">
  <div id="projWrapper">
    <div id="columns">
   <div class="grid-item">
  <div id="carousel1" (click)="redirect('project1')" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
    <div class="item active">
      <img src="./assets/images/clarkCSM.png" class="projImage" alt="Self">
      <div class="carousel-caption" id="c1">
        <h3>CLARK CSM</h3>
        <p>JavaScript/jQuery/CSS/HTML/Ajax</p>
      </div>
    </div>
</div>
  </div>
   <div class="grid-item">
     <div id="carousel2" (click)="redirect('project2')" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
    <div class="item active">
      <img src="./assets/images/food&beer.png" class="projImage" alt="Self">
      <div class="carousel-caption">
        <h3>Food & Beer</h3>
        <p>JavaScript/HTML/CSS/Ajax/PHP</p>
      </div>
    </div>
</div>
  </div>
   <div class="grid-item">
     <div id="carousel3" (click)="redirect('project3')" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
    <div class="item active">
      <img src="./assets/images/picionary.png" class="projImage" alt="Self">
      <div class="carousel-caption">
        <h3>Pictionary</h3>
        <p>JavaScript/NodeJS/Sockets.io/Bootstrap</p>
      </div>
    </div>
</div>
  </div>
   <div class="grid-item">
     <div id="carousel5" (click)="redirect('project5')" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
    <div class="item active">
      <img src="./assets/images/build2.png" class="projImage" alt="Self">
      <div class="carousel-caption">
        <h3>Newton</h3>
        <p>C#/Unity</p>
      </div>
    </div>
     </div>
  </div>
   <div class="grid-item">
     <div id="carousel6" (click)="redirect('project6')" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
    <div class="item active">
      <img src="./assets/images/aagents.png" class="projImage" alt="Self">
      <div class="carousel-caption">
        <h3>Automonous Agents</h3>
        <p>C#/unity</p>
      </div>
    </div>
    </div>
  </div>
   <div class="grid-item">
  <div id="carousel4" (click)="redirect('project4')" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
    <div class="item active">
      <img src="./assets/images/battleship.png" class="projImage" alt="Self">
      <div class="carousel-caption">
        <h3>Battleship (in progress)</h3>
        <p>JavaScript/NodeJS/Sockets.io/Bootstrap</p>
      </div>
    </div>
</div>
  </div>
  <div class="grid-item">
  <div id="carousel7" (click)="redirect('project7')" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
    <div class="item active">
      <img src="./assets/images/beeasteroid.png" class="projImage" alt="Self">
      <div class="carousel-caption">
        <h3>Asteroids</h3>
        <p>C#/Unity</p>
      </div>
    </div>
</div>
  </div>
  </div>
  </div>
  </div>
</section>

