<section id="project">
<div class="container">
  <div class="projWrapper1">
    <div id="pg">
    <h1>Audio Visualizer</h1>
      <h2>An audio visualizer that has the option to manipulate audio using motion detection from webcam.</h2>
    <p>I developed this project together with a classmate. She was an exchange student from Brazil, I'm from Sweden, and together we were "SwedZilla".<br><br>
      We were challenged by our teacher to attempt to implement webcam data into our project, as no one has managed to do that before. It wasn't an easy task, but we solved it. You have the option to only have webcam input displayed in the visualizer, or also allow motion detection. The bass data is manipulated by reading in the amount of pixels that appears on the canvas, so the more you move, the higher the bass boost!</p>
    </div>
    <div id="pimg">
      <h1><a href="https://github.com/thereseh/IGME330-Audio-Visualizer" target="_blank">GitHub</a> / <a href="https://yaragg.github.io/IGME330-Audio-Visualizer/" target="_blank">Project</a></h1>
      <img src="./assets/images/visualizer.png" class="projImage" alt="Self">
    <h2>JavaScript/HTML/CSS</h2>
    </div>
  </div>
</div>
</section>