<section id="project">
<div class="container">
  <div class="projWrapper1">
    <div id="pg">
    <h1>Battleship</h1>
      <h2>A web application utilizing socket.io to allow clients to play against each other in real time.</h2>
      <p>I set up the server for this project using NodeJS. Data is passed between clientes using socket.io.
      <br><br>
      The first two people that joins the server will become the 2 players of the game. All the others who join will become spectators that will see the two canvases update in real time as each player makes a move.
    <br><br>
        This application is currently under construction, as all functionallity is not yet implemented, and I need to polish the design.</p>
    </div>
    <div id="pimg">
      <h1><a href="https://github.com/thereseh/Websockets-App" target="_blank">Github</a> / <a href="https://dashboard.heroku.com/apps/secure-everglades-27223" target="_blank">Project</a></h1>
      <img src="./assets/images/battleship.png" class="projImage" alt="Self">
      <h2>JavaScrip / NodeJS / Canvas / Socket.io / Bootstrap</h2>
    </div>
  </div>
</div>
</section>
