<base href="/index">
<header>
<div id="topNav">
  <div class="nameWrap">
  <h1 (click)="redirect()" class="name" style="display:block;">let's code
    something</h1>
  </div>
  <div class="linkWrap">
  <li><a routerLink="/about">About</a></li>
  <li><a routerLink="/projects">Projects</a></li>
  <li><a href="/contact">Contact</a></li>
  <li><a href="https://drive.google.com/file/d/0B93rh90A8hU7bGdWWG0wUUc3VjQ/view?usp=sharing" target="_blank">Resume</a></li>
  <div id="topIcons">
    <a href="https://github.com/thereseh" target="_blank"><img src="./assets/images/github.png" width="40px" height="auto" alt="github"></a>
  </div>
  </div>
</div>
</header>
<section id="main">
<!--><app-home></app-home>-->
<router-outlet></router-outlet>
</section>
<footer>
  <div id="footerNav">
    <div class="footerLinks">
  <p>tah5279@rit.edu</p>
    <p> | </p>
  <p>310.980.8329</p>
    <p> | </p>
  <p><a href="https://drive.google.com/file/d/0B93rh90A8hU7bGdWWG0wUUc3VjQ/view?usp=sharing" target="_blank">Resume</a></p>
    <p> | </p>
  </div>
     <div class="footerIcons">
    <a href="https://www.linkedin.com/in/therese-henriksson-0483026b/" target="_blank"><img src="./assets/images/linkedin.png" width="30px" height="auto" alt="linkedin"></a>
  </div>
  </div>
</footer>