<section id="project">
<div class="container">
  <div class="projWrapper1">
    <div id="pg">
    <h1>Automonous Agents</h1>
      <h2>A 3D environment created in Unity to exhibit different steering behaviors.</h2><br>
    <p>All the objects in this scene are automonous agents, which means that each one of them are changing their own behaviors by calculating forces that are acting on them. In order to showcase behaviors that made sense, we had to create an environment that was coherent.
    <br>
      I decided to create an environment on a tiny insect scale.<br>
      <br>I have a group of ants with 'flocking' behavior, that are primarly 'seeking' for food (sugar cubes), but their priority will change, and if a spider is getting close, that particular ant will 'avoid' it. If the spider is getting really close, the ant will 'flee'.
      <br><br>
      The spiders are doing wandering/leader following. The smaller spiders are 'following' the leader spider that's 'wandering' in the scene, until they are getting close to ants, then they will 'pursue' after them/the ant.
      <br><br>
      The bees are 'seeking' and 'arriving' at honey that are randomly created on top of flowers.
      <br><br>
      My ladybugs are doing 'path following' and are racing around the scene.
      <br><br>
      All objects are also calculating the distance to all other objects in order to do proper 'obstacle avoidance'.
      </p>
    </div>
    <div id="pimg">
      <h1><a href="https://github.com/thereseh/AutonomousAgents" target="_blank">GitHub</a> / <a href=" https://thereseh.itch.io/autonomousagents" target="_blank"> Project</a></h1>
       <img src="./assets/images/aagents.png" class="projImage" alt="Self">
      <h2>C# / Unity</h2>
    </div>
  </div>
</div>
</section>