<section id="project">
<div class="container">
  <div class="projWrapper1">
    <div id="pg">
    <h1>Asteroids</h1>
      <h2>A basic 2D Asteroid inspired game with my own take on the design.</h2>
    <p>The bee is your vehicle, and the flowers are the asteroids. You get the idea! This was a class project that I developed in order to learn how to calculate my own velocity and direction vectors, and also how to calculate collision. In this case, I'm using Circle Detection to achieve this. Specifically, I'm calculating the distance between objects, if it's less than the sum of their CircleCollider component, then they are colliding.<br><br>
    Gameplay: move around the screen using the arrow keys, and shoot with the space bar.<br><br>
      When a flower is hit, it will break up into 1 to 3 smaller pieces. You have 3 lives, and will be "cloaked" for a few seconds after taken damage, which allows you to gain control of the situation.<br></p>
    </div>
    <div id="pimg">
      <h1><a href="https://github.com/thereseh/AsteroidGame" target="_blank">GitHub</a> / <a href="https://thereseh.itch.io/asteroids" target="_blank">Project</a></h1>
      <img src="./assets/images/beeasteroid.png" class="projImage" alt="Self">
      <h2>C#/Unity</h2>
    </div>
  </div>
</div>
</section>