<section id="project">
<div class="container">
  <div class="projWrapper1">
    <div id="pg">
    <h1>Asteroids</h1>
      <h2>A basic 2D Asteroid inspired game with my own take on the design.</h2>
    <p>The bee is your vehicle, and the flowers are the asteroids. Move around the screen using the arrow keys, and shoot with the space bar.<br><br>
      When a flower is hit, it will break up into a random number of smaller pieces. You have 3 lives, and will be "cloaked" for a few seconds after taken damage, which allows you to gain control of the situation.<br></p>
    </div>
    <div id="pimg">
      <h1><a href="https://github.com/thereseh/AsteroidGame" target="_blank">GitHub</a> / <a href="https://thereseh.itch.io/asteroids" target="_blank">Project</a></h1>
      <img src="./assets/images/beeasteroid.png" class="projImage" alt="Self">
      <h2>C#/Unity</h2>
    </div>
  </div>
</div>
</section>