@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Heebo|Lobster');




/* ===== HEADER ===== */
body {
  font-size: 100%;
  line-height: 1em;
  height: 100%;
}

header {
  text-align: left;
  padding: 50px 50px 20px 50px;
  margin: 0;  
}

.nameWrap {
  display: inline-block;
  float: left;
  margin-left: 20px;
  
}
.nameWrap .name {
  white-space: pre-line;
  font-family: 'Lobster', cursive;
  font-size: 40px;
  margin: 0;
  cursor: pointer;
}
.loader {
  padding-top: 100px;
  align-content: center;
  margin: 0;
}

.linkWrap {
  padding-top: 40px;
  display: inline-block;
  float: right;
  margin-right: 80px;
}

#topNav {
  width: 100%;
  display: inline-block;
}

#topIcons {
  margin-top: -10px;
  float: right;
  padding-left: 40px;
  display: inline-block;
  cursor: pointer;
}

#topNav .linkWrap > li {
  font-size: 18px;
  float: none;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}

#topNav .linkWrap > li > a{
  font-family: 'Heebo', sans-serif;
  text-decoration: none;
  color: black;
  padding-bottom: 3px;
  position: relative;
}

#topNav .linkWrap > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: darkorange;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#topNav .linkWrap > li > a:hover:before
{
  color:darkorange;
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

@media screen and (min-width: 320px) and (max-width: 800px) {
  header {
    text-align: center;
    padding: 5% 5% 3% 5%;
    margin: 0;  
  }
  #topNav {
    display: block;
  }

  .nameWrap s.name {
    font-size: 4em;
    display: block;
    float: none;
  }
  .linkWrap {
    padding-top: 5px;
    margin: 0;
    text-align: center;
    align-content: center;
    float: none;
  }
  
  #topIcons {
  display: none;
}

  #topNav .linkWrap > li {
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
  }
}


/* ===== BODY ===== */

body {
  text-align: center;
  align-content: center;
  margin: auto;
  position: relative;
  background-color: white;
  font-family: 'EB Garamond', serif;
}

.loader {
  align-content: center;
  margin: 0;
}

#main {
  padding-top: 20px;
  background-color: white;
  align-content: center;
  text-align: center;
  margin: auto;
  box-shadow: 2px 2px 3px #f2f2f2;
  padding: 0 50px 20px 50px;
  height: auto;
}

.container {
  margin: auto;
  width: auto;
  box-sizing: border-box;
}

#home {
   padding-bottom: 80px;
}
/* HOME */
#home > .container {
  padding: 60px;
  text-align-last: center;
}
#home > .container > h1{
  font-size: 100px;
  color: #000000;
  text-shadow: 3px 3px #ff9933;
  font-family: 'Heebo', sans-serif;
}
#home > .container > h2{
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: 'Heebo', sans-serif;
}
#home > .container > h3{
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Heebo', sans-serif;
  white-space: pre-line;
}
#home > .container > h3 > a{
  font-size: 25px;
  font-family: 'Heebo', sans-serif;
  text-decoration: none;
  color: darkorange;
  padding-bottom: 0px;
  position: relative;
}

#home > .container > h3 > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#home > .container > h3 > a:hover:before
{
  color:black;
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


/* CONTACT */
#contact > .container {
  padding: 60px;
  text-align-last: center;
}
#contact > .container > h1{
  font-size: 60px;
  color: #000000;
  text-shadow: 3px 3px #ff9933;
  font-family: 'Heebo', sans-serif;
}
#contact > .container > h2{
  padding-top: 30px;
  font-size: 30px;
  font-family: 'Heebo', sans-serif;
}

/* ABOUT */

#info > h1 {
  text-align: left;
  font-size: 25px/55px;
}

#info > h1:after {
  content:' ';
  display:block;
  width: 100%;
  border:1px solid darkorange;
}

#info {
  margin-right: 20%;
}

#info > p {
  font-size: 18px;
  line-height: 1.4em;
  white-space: pre-line;
  text-align: left;
}
#info > h2 {
  font-size: 25px;
  font-family: 'Heebo', sans-serif;
  text-align: left;
}
#info > h3 {
  font-size: 18px;
  font-family: 'Heebo', sans-serif;
  text-align: left;
  line-height: 1.3em;
}

#selfInfo {
  float: left;
  display: inline-block;
  height: auto;
  width: 70%;
}

#selfImage{
  width: 30%;
  display: inline-block;
}

#selfImage > img{
  width: 100%;
  height: auto;
}

#project {
  margin: auto;
  width: auto;
  height: auto;
}

#projWrapper {
  width: 100;
}
.projWrapper1 {
  width: 100;
  padding-top: 30px;
  text-align: left;
  margin: 0 20px 0 20px;
}

#pg {
  display: inline-block;
  width: 40%;
}

#pg > h1 {
  width: auto;
  margin: 0;
  font-family: 'Heebo', sans-serif;
  font-size: 4em;
  padding-bottom: 3px;
}
#pg > p {
  font-size: 1.8em;
  line-height: 1.3em;
}
#pg > h2 {
  line-height: 1.3em;
  font-family: 'Heebo', sans-serif;
  font-size: 20px;
}

#pg > h1:after {
  content:' ';
  display:block;
  width: 100%;
  border:2px solid darkorange;
}
#pimg {
  width: 50%;
  padding-top: 45px;
  display: inline-block;
  float: right;
  text-align: center;
} 
#pimg > img {
  box-shadow: 2px 2px 3px gray;
} 
#pimg > h1 {
  font-size: 3em;
  font-family: 'Heebo', sans-serif;
  color: black;
  padding-bottom: 20px;
} 
#pimg > h2 {
  font-size: 1.9em;
  font-family: 'Heebo', sans-serif;
  color: black;
} 
#pimg > h1 > a{
  font-size: 1em;
  font-family: 'Heebo', sans-serif;
  text-decoration: none;
  color: black;
} 
#pimg > h1 >a:hover {
  color: darkorange;
} 

#columns {
  -webkit-column-count:3;
  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;
  -moz-column-count: 3;
  -moz-column-gap: 10px;
  -moz-column-fill: auto;
  column-count: 3;
  column-gap: 15px;
  column-fill:auto;
}

@media (max-width: 500px) {
  #columns {
    -webkit-column-count:1;
    -moz-column-count: 1;
    column-count: 1;
  }
}

@media (max-width: 780px) {
  #columns {
    -webkit-column-count:2;
    -moz-column-count: 2;
    column-count: 2;
  }
}


.carousel-caption {
  right: 0;
  left: 0;
  bottom: 0px;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  font-family: 'Heebo', sans-serif;
  }

@media (hover:none), (hover:on-demand) { 
 .carousel-caption {
  right: 0;
  left: 0;
  bottom: 0px;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.4);
  visibility: visible;
  font-family: 'Heebo', sans-serif;
  }
}

.grid-item {
  display: inline-block;
  box-shadow: 1px 1px 2px #f8f8f8;
  border: 1px solid #f8f8f8;
  margin: 10px 5px 10px 5px;
  -webkit-column-break-inside: avoid;
  column-break-inside: avoid;
  opacity: 1;
  padding: 5px;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition:all .2s ease;
  cursor: pointer;
}

#carousel1 {
  height: auto;
  position: relative;
}

#carousel1:hover .carousel-caption {
  visibility: visible;
}
#carousel2:hover .carousel-caption {
  visibility: visible;
}
#carousel3:hover .carousel-caption {
  visibility: visible;
}
#carousel4:hover .carousel-caption {
  visibility: visible;
}
#carousel5:hover .carousel-caption {
  visibility: visible;
}
#carousel6:hover .carousel-caption {
  visibility: visible;
}
.carousel-caption > p{
  font-size: 1.5em;
  text-shadow: 0, 0, 0 none;
  margin: 0, 0, 10px, 0;
}
.carousel-caption > h3{
  font-size: 2.4em;
  text-shadow: 0, 0, 0 none;
  margin: 10px, 0, 0, 0;
}

.projImage {
  width: 100%;
}

#proj {
    text-align: left;
}

#proj > h1 {
    font-family: 'Heebo', sans-serif;
    font-size: 30px;
}
#proj > h3 {
  font-size: 15px;
  margin-top: 0px;
}


/* ===== FOOTER ===== */


footer {
  display: block;
  margin-top: 30px;
  height: 40px;
}

#footer {
  align-content: center;
  text-align: center;
  margin: auto;
  font-family: 'Heebo', sans-serif;
}

#footer > li {
  font-size: 17px;
  float: none;
  display: inline-block;
}

#footer > li > a{
 text-decoration: none;
  color: black;
  padding-bottom: 3px;
  position: relative;
}

#footer > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: darkorange;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#footer > li > a:hover:before
{
  color:darkorange;
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

@media only screen and (max-width: 740px) {
  
  /* === HEADER === */
  header {
    text-align: left;
    padding: 0px 10px 5px 10px;
    margin: 0;  
  }

  .nameWrap {
    float: left;
    margin-left: 5%; 
  }
  .nameWrap .name {
    white-space: pre-line;
    font-family: 'Lobster', cursive;
    text-align: left;
    font-size: 4em;
    margin: 0;
  }
  .linkWrap {
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    align-content: center;
  }
  
  #topNav {
    padding-top: 5%;
    width: 100%;
    display: block;
    float: none;
    text-align: center;
    align-content: center;
  }

  #topIcons {
    margin-top: -10px;
    padding-left: 10px;
    display: inline-block;
    float: none;
  }
  #topIcons > a > img {
    width: 40px;
    height: auto;
  }
  
  #topNav .linkWrap > li {
    font-size: 2em;
    float: none;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  #topNav .linkWrap > li > a{
    font-family: 'Heebo', sans-serif;
    text-decoration: none;
    color: black;
    padding-bottom: 3px;
    position: relative;
  }

  #topNav .linkWrap > li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: darkorange;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  #topNav .linkWrap > li > a:hover:before
  {
    color:darkorange;
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  #main {
    padding: 0 20px 10px 20px;
    height: 100%;
    padding-bottom: -50px;
  }
  #home > .container {
    padding: 30px;
    text-align: center;
    margin: 20px 0 20px 0;
  }
  
  #home > .container > h1{
    font-size: 9em;
    color: #000000;
    text-shadow: 3px 3px #ff9933;
    font-family: 'Heebo', sans-serif;
  }
  #home > .container > h2{
    font-size: 2.2em;
    margin-top: 0px;
    margin-bottom: 10px;
    line-height: 1.2em;
    font-family: 'Heebo', sans-serif;
  }
  #home > .container > h3{
    font-size: 1.6em;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 1.3em;
    font-family: 'Heebo', sans-serif;
    white-space: pre-line;
  }
  #home > .container > h3 > a{
    font-size: 1.3em;
    font-family: 'Heebo', sans-serif;
    text-decoration: none;
    color: darkorange;
  }
  
  #home > .container > h3 > a:before {
  }
  
  #home > .container > h3 > a:hover:before
  {
    color:black;
  }
  
/* ===== ABOUT ===== */

  #contact {
    min-height: 100%;
  }  
  #contact > .container {
    padding: 100px 0 100px 0;
    text-align: center;
    min-height: 100%;
  }
  
  #info > h1 {
    text-align: left;
    font-size: 3.5em;
  }

  #info > h1:after {
    content:' ';
    display:block;
    width: 100%;
    border:1px solid darkorange;
  }

  #info {
    width: 100%;
  }
  
  #info > p {
    font-size: 1.8em;
    line-height: 1.4em;
    white-space: pre-line;
    text-align: left;
  }
  #info > h2 {
    font-size: 1em;
    line-height: 1.4em;
    font-family: 'Heebo', sans-serif;
    text-align: left;
  }
  #info > h3 {
    font-size: 1.6em;
    line-height: 1.4em;
    font-family: 'Heebo', sans-serif;
    text-align: center;
    margin-top: 0;
  }
  
  #selfInfo {
    float: left;
    display: block;
    height: auto;
    width: 100%;
  }

  #selfImage{
    width: 100%;
    display: block;
    align-content: center;
  }
  
  #selfImage > img{
    margin-top: 20px;
    width: 50%;
    align-content: center;
    height: auto;
  }
  
  /* ===== PROJECT ===== */
  
  #project {
    padding: 30px 0 0 0;
    margin: auto;
    align-content: center;
    text-align: center;
  }

  #projWrapper {
    width: 100%;
     align-content: center;
    text-align: center;
     margin: 0 auto;
  }
  
   #columns {
    -webkit-column-count:2;
    -moz-column-count: 2;
    column-count: 2;
    align-content: center;
    text-align: center;
     margin: 0 auto;
  }
  
  .grid-item {
    display: inline-block;
    box-shadow: 1px 1px 2px #f8f8f8;
    border: 1px solid #f8f8f8;
    margin: 10px 5px 10px 5px;
    -webkit-column-break-inside: avoid;
    column-break-inside: avoid;
    opacity: 1;
    padding: 5px;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition:all .2s ease;
}

  
  .projWrapper1 {
    width: 100;
    padding-top: 30px;
    text-align: left;
    margin: 0 0 0 0;
  }
  
  #pg {
    width: 100%;
  }
  
  #pg > h1 {
    width: auto;
    margin: 0;
    font-family: 'Heebo', sans-serif;
    font-size: 3.4em;
    padding-bottom: 3px;
  }
  #pg > p {
    font-size: 1.8em;
    line-height: 1.4em;
  }
  #pg > h2 {
    line-height: 1.3em;
    font-family: 'Heebo', sans-serif;
    font-size: 2em;
  }
  
  #pg > h1:after {
    content:' ';
    display:block;
    width: 100%;
    border:2px solid darkorange;
  }
  #pimg {
    width: 100%;
    padding-top: 10px;
    display: block;
    text-align: center;
  } 
  #pimg > img {
    box-shadow: 2px 2px 3px gray;
  } 
  #pimg > h1 {
    font-size: 3.2em;
    font-family: 'Heebo', sans-serif;
    color: black;
    padding-bottom: 10px;
  } 
  #pimg > h2 {
    font-size: 2em;
    font-family: 'Heebo', sans-serif;
    color: black;
  } 
  #pimg > h1 > a{
    font-size: 1.2em;
    font-family: 'Heebo', sans-serif;
    text-decoration: none;
    color: black;
  } 
  #pimg > h1 >a:hover {
    color: darkorange;
  } 
  
  /* ===== CONTACT ===== */
  
  
  #contact {
    padding-bottom: 70px;
  }  
  #contact > .container {
    padding: 100px 0 100px 0;
    text-align: center;
    height: 100%;
  }
  #contact > .container > h1{
    font-size: 3.2em;
    margin-bottom: 20px;
    color: #000000;
    text-shadow: 3px 3px #ff9933;
    font-family: 'Heebo', sans-serif;
  }
  #contact > .container > h2{
    padding: 0px;
    margin: 0;
    line-height: 1.2em;
    font-size: 1.9em;
    font-family: 'Heebo', sans-serif;
  }
  #or {
    font-size: 1.1em;
    margin: 0;
  }
  
  
  /* ===== FOOTER ===== */
  
  
  footer {
    margin: 0
  }
  
  #footer {
    height: 40px;
    align-content: center;
    text-align: center;
    margin: 20px 0 0 0;
    font-family: 'Heebo', sans-serif;
  }

  #footer > li {
    font-size: 1.4em;
    float: none;
    display: inline-block;
  }
  
  #footer > li > a{
    text-decoration: none;
    color: black;
    padding-bottom: 3px;
    position: relative;
  }
  
  #footer > li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: darkorange;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  #footer > li > a:hover:before
  {
    color:darkorange;
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }  
}

@media only screen and (max-width: 420px) {
  
  /* === HEADER === */
  header {
  text-align: left;
  padding: 10px 10px 5px 10px;
  margin: 0;  
  }
  
  .nameWrap {
    float: left;
    margin-left: 5%; 
  }
  .nameWrap .name {
    white-space: pre-line;
    font-family: 'Lobster', cursive;
    text-align: left;
    font-size: 3em;
    margin: 0 0 25px 0;
  }
  
  .linkWrap {
    margin: 0 auto;
    text-align: center;
    align-content: center;
  }
  
  #topNav {
    padding-top: 5%;
    width: 100%;
    display: block;
    float: none;
    text-align: center;
    align-content: center;
  }

  #topIcons {
    padding-top: -30px;
    padding-left: 10px;
    display: inline-block;
    float: none;
  }
  #topIcons > a > img {
    width: 40px;
    height: auto;
  }
  
  #topNav .linkWrap > li {
    font-size: 1.8em;
    float: none;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  #topNav .linkWrap > li > a{
    font-family: 'Heebo', sans-serif;
    text-decoration: none;
    color: black;
    padding-bottom: 3px;
    position: relative;
  }

  #topNav .linkWrap > li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: darkorange;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  #topNav .linkWrap > li > a:hover:before
  {
    color:darkorange;
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  #main {
    padding: 0 20px 10px 20px;
    height: 100%;
    padding-bottom: -50px;
  }
  #home > .container {
    padding: 30px;
    text-align: center;
    margin: 30px 0 20px 0;
  }
  
  #home > .container > h1{
    font-size: 8em;
    color: #000000;
    text-shadow: 3px 3px #ff9933;
    font-family: 'Heebo', sans-serif;
  }
  #home > .container > h2{
    font-size: 2.3em;
    margin-top: 0px;
    margin-bottom: 10px;
    line-height: 1.2em;
    font-family: 'Heebo', sans-serif;
  }
  #home > .container > h3{
    font-size: 1.8em;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 1.3em;
    font-family: 'Heebo', sans-serif;
    white-space: pre-line;
  }
  #home > .container > h3 > a{
    font-size: 1em;
    font-family: 'Heebo', sans-serif;
    text-decoration: none;
    color: darkorange;
  }
  
  #home > .container > h3 > a:before {
  }
  
  #home > .container > h3 > a:hover:before
  {
    color:black;
  }
  
/* ===== ABOUT ===== */

  #contact {
    min-height: 100%;
  }  
  #contact > .container {
    padding: 100px 0 100px 0;
    text-align: center;
    min-height: 100%;
  }
  
  #info > h1 {
    text-align: left;
    font-size: 3.5em;
  }

  #info > h1:after {
    content:' ';
    display:block;
    width: 100%;
    border:1px solid darkorange;
  }

  #info {
    width: 100%;
  }
  
  #info > p {
    font-size: 1.9em;
    line-height: 1.4em;
    white-space: pre-line;
    text-align: left;
  }
  #info > h2 {
    font-size: 3em;
    line-height: 1.4em;
    font-family: 'Heebo', sans-serif;
    text-align: left;
  }
  #info > h3 {
    font-size: 1.8em;
    line-height: 1.4em;
    font-family: 'Heebo', sans-serif;
    text-align: center;
    margin-top: 0;
  }
  
  #selfInfo {
    float: left;
    display: block;
    height: auto;
    width: 100%;
  }

  #selfImage{
    width: 100%;
    display: block;
    align-content: center;
  }
  
  #selfImage > img{
    margin-top: 20px;
    width: 50%;
    align-content: center;
    height: auto;
  }
  
  /* ===== PROJECT ===== */
  
  .projWrapper1 {
    width: 100;
    padding-top: 10px;
    text-align: left;
    margin: 0 0 0 0;
  }
  
   #columns {
    -webkit-column-count:1;
    -moz-column-count: 1;
    column-count: 1;
    align-content: center;
    text-align: center;
     margin: 0 auto;
  }
  .carousel-caption > p{
    font-size: 1.5em;
    text-shadow: 0, 0, 0 none;
    margin: 0, 0, 10px, 0;
  }
  .carousel-caption > h3{
    font-size: 2.3em;
    text-shadow: 0, 0, 0 none;
    margin: 10px, 0, 0, 0;
  }
  
  #pg {
    width: 100%;
  }
  
  #pg > h1 {
    width: auto;
    margin: 0;
    font-family: 'Heebo', sans-serif;
    font-size: 3.4em;
    padding-bottom: 3px;
  }
  #pg > p {
    font-size: 1.8em;
    line-height: 1.4em;
  }
  #pg > h2 {
    line-height: 1.2em;
    font-family: 'Heebo', sans-serif;
    font-size: 1.8em;
  }
  
  #pg > h1:after {
    content:' ';
    display:block;
    width: 100%;
    border:2px solid darkorange;
  }
  #pimg {
    width: 100%;
    padding-top: 10px;
    display: block;
    text-align: center;
  } 
  #pimg > img {
    box-shadow: 2px 2px 3px gray;
  } 
  #pimg > h1 {
    font-size: 1.7em;
    font-family: 'Heebo', sans-serif;
    color: black;
    padding-bottom: 10px;
  } 
  #pimg > h2 {
    font-size: 1.5em;
    font-family: 'Heebo', sans-serif;
    color: black;
  } 
  #pimg > h1 > a{
    font-size: 1.3em;
    font-family: 'Heebo', sans-serif;
    text-decoration: none;
    color: black;
  } 
  #pimg > h1 >a:hover {
    color: darkorange;
  } 
  
  /* ===== CONTACT ===== */
  
  
  #contact {
    padding-bottom: 80px;
  }  
  #contact > .container {
    padding: 100px 0 100px 0;
    text-align: center;
    height: 100%;
  }
  #contact > .container > h1{
    font-size: 3.2em;
    margin-bottom: 20px;
    color: #000000;
    text-shadow: 3px 3px #ff9933;
    font-family: 'Heebo', sans-serif;
  }
  #contact > .container > h2{
    padding: 0px;
    margin: 0;
    line-height: 1.4em;
    font-size: 2em;
    font-family: 'Heebo', sans-serif;
    white-space: pre-line;
  }
  #or {
    font-size: 1em;
    margin: 0;
  }
  
  
  /* ===== FOOTER ===== */
  
  
  footer {
    margin: 0
  }
  
  #footer {
    height: 40px;
    align-content: center;
    text-align: center;
    margin: 20px 0 0 0;
    font-family: 'Heebo', sans-serif;
  }

  #footer > li {
    font-size: 1.4em;
    float: none;
    display: inline-block;
  }
  
  #footer > li > a{
    text-decoration: none;
    color: black;
    padding-bottom: 3px;
    position: relative;
  }
  
  #footer > li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: darkorange;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  #footer > li > a:hover:before
  {
    color:darkorange;
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }  
}

@media only screen and (max-width: 400px) {
  
  /* === HEADER === */
  header {
  text-align: left;
  padding: 10px 10px 5px 10px;
  margin: 0;  
  }
  
  .nameWrap {
    display: none;
  }
  .linkWrap {
    margin: 0 auto;
    text-align: center;
    align-content: center;
  }
  
  #topNav {
    padding-top: 10%;
    width: 100%;
    display: block;
    float: none;
    text-align: center;
    align-content: center;
  }

  #topIcons {
    margin-top: -5px;
    padding-left: 10px;
    display: inline-block;
    float: none;
  }
  #topIcons > a > img {
    width: 30px;
    height: auto;
  }
  
  #topNav .linkWrap > li {
    font-size: 1.3em;
    float: none;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  #topNav .linkWrap > li > a{
    font-family: 'Heebo', sans-serif;
    text-decoration: none;
    color: black;
    padding-bottom: 3px;
    position: relative;
  }

  #topNav .linkWrap > li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: darkorange;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  #topNav .linkWrap > li > a:hover:before
  {
    color:darkorange;
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  #main {
    padding: 0 20px 10px 20px;
    height: 100%;
    padding-bottom: -50px;
  }
  #home > .container {
    padding: 30px;
    text-align: center;
    margin: 20px 0 20px 0;
  }
  
  #home > .container > h1{
    font-size: 8em;
    color: #000000;
    text-shadow: 3px 3px #ff9933;
    font-family: 'Heebo', sans-serif;
  }
  #home > .container > h2{
    font-size: 2em;
    margin-top: 0px;
    margin-bottom: 10px;
    line-height: 1.2em;
    font-family: 'Heebo', sans-serif;
  }
  #home > .container > h3{
    font-size: 1.4em;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 1.3em;
    font-family: 'Heebo', sans-serif;
    white-space: pre-line;
  }
  #home > .container > h3 > a{
    font-size: 1.3em;
    font-family: 'Heebo', sans-serif;
    text-decoration: none;
    color: darkorange;
  }
  
  #home > .container > h3 > a:before {
  }
  
  #home > .container > h3 > a:hover:before
  {
    color:black;
  }
  
/* ===== ABOUT ===== */

  #contact {
    min-height: 100%;
  }  
  #contact > .container {
    padding: 100px 0 100px 0;
    text-align: center;
    min-height: 100%;
  }
  
  #info > h1 {
    text-align: left;
    font-size: 3em;
  }

  #info > h1:after {
    content:' ';
    display:block;
    width: 100%;
    border:1px solid darkorange;
  }

  #info {
    width: 100%;
  }
  
  #info > p {
    font-size: 1.3em;
    line-height: 1.4em;
    white-space: pre-line;
    text-align: left;
  }
  #info > h2 {
    font-size: 1em;
    line-height: 1.4em;
    font-family: 'Heebo', sans-serif;
    text-align: left;
  }
  #info > h3 {
    font-size: 1em;
    line-height: 1.4em;
    font-family: 'Heebo', sans-serif;
    text-align: center;
    margin-top: 0;
  }
  
  #selfInfo {
    float: left;
    display: block;
    height: auto;
    width: 100%;
  }

  #selfImage{
    width: 100%;
    display: block;
    align-content: center;
  }
  
  #selfImage > img{
    margin-top: 20px;
    width: 50%;
    align-content: center;
    height: auto;
  }
  
  /* ===== PROJECT ===== */
  
  .projWrapper1 {
    width: 100;
    padding-top: 30px;
    text-align: left;
    margin: 0 5% 0 5%;
  }
  
   #columns {
    -webkit-column-count:1;
    -moz-column-count: 1;
    column-count: 1;
    align-content: center;
    text-align: center;
     margin: 0 auto;
  }
  .carousel-caption > p{
    font-size: 1.5em;
    text-shadow: 0, 0, 0 none;
    margin: 0, 0, 10px, 0;
  }
  .carousel-caption > h3{
    font-size: 2.3em;
    text-shadow: 0, 0, 0 none;
    margin: 10px, 0, 0, 0;
  }
  
  #pg {
    width: 100%;
  }
  
  #pg > h1 {
    width: auto;
    margin: 0;
    font-family: 'Heebo', sans-serif;
    font-size: 3em;
    padding-bottom: 3px;
  }
  #pg > p {
    font-size: 1.3em;
    line-height: 1.4em;
  }
  #pg > h2 {
    line-height: 1.3em;
    font-family: 'Heebo', sans-serif;
    font-size: 1.5em;
  }
  
  #pg > h1:after {
    content:' ';
    display:block;
    width: 100%;
    border:2px solid darkorange;
  }
  #pimg {
    width: 100%;
    padding-top: 10px;
    display: block;
    text-align: center;
  } 
  #pimg > img {
    box-shadow: 2px 2px 3px gray;
  } 
  #pimg > h1 {
    font-size: 1.2em;
    font-family: 'Heebo', sans-serif;
    color: black;
    padding-bottom: 10px;
  } 
  #pimg > h2 {
    font-size: 1.2em;
    font-family: 'Heebo', sans-serif;
    color: black;
  } 
  #pimg > h1 > a{
    font-size: 1.3em;
    font-family: 'Heebo', sans-serif;
    text-decoration: none;
    color: black;
  } 
  #pimg > h1 >a:hover {
    color: darkorange;
  } 
  
  /* ===== CONTACT ===== */
  
  
  #contact {
    padding-bottom: 70px;
  }  
  #contact > .container {
    padding: 100px 0 100px 0;
    text-align: center;
    height: 100%;
  }
  #contact > .container > h1{
    font-size: 3em;
    margin-bottom: 20px;
    color: #000000;
    text-shadow: 3px 3px #ff9933;
    font-family: 'Heebo', sans-serif;
  }
  #contact > .container > h2{
    padding: 0px;
    margin: 0;
    line-height: 1.4em;
    font-size: 1.5em;
    font-family: 'Heebo', sans-serif;
    white-space: pre-line;
  }
  #or {
    font-size: 1.1em;
    margin: 0;
  }
  
  
  /* ===== FOOTER ===== */
  
  
  footer {
    margin: 0
  }
  
  #footer {
    height: 40px;
    align-content: center;
    text-align: center;
    margin: 20px 0 0 0;
    font-family: 'Heebo', sans-serif;
  }

  #footer > li {
    font-size: 1.4em;
    float: none;
    display: inline-block;
  }
  
  #footer > li > a{
    text-decoration: none;
    color: black;
    padding-bottom: 3px;
    position: relative;
  }
  
  #footer > li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: darkorange;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  #footer > li > a:hover:before
  {
    color:darkorange;
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }  
}
