<section id="project">
<div class="container">
  <div class="projWrapper1">
    <div id="pg">
    <h1>Food & Beer</h1>
      <h2>A web application utilizing external APIs to acquire data</h2>
    <p>I used Yummly and BreweryDB API to create an application that returns recipes and beer. You can either do a random search, or input specific values.<br><br>
      I'm currently working on a continuation of this app that will allow the user to store recipes using POST/PUT/DELETE Ajax call to an API, so come back soon to check it out!<br></p>
    </div>
    <div id="pimg">
      <h1><a href="https://github.com/thereseh/Food-Beer" target="_blank">GitHub</a> / <a href="https://people.rit.edu/~tah5279/330/project3/" target="_blank">Project</a></h1>
      <img src="./assets/images/food&beer.png" class="projImage" alt="Self">
      <h2>JavaScrip / CSS / HTML / jQuery / Ajax / PHP</h2>
    </div>
  </div>
</div>
</section>

